<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="mais opções">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.Label("Quark", new { @class = "navbar-brand" })
            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Motocicletas <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("100% Elétricas", "ConsultaMotoEletrica", "Home")</li>
                            <li>@Html.ActionLink("Híbridas", "ConsultaMotoHibrida", "Home")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Carros <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("100% Elétricos", "ConsultaCarroEletrico", "Home")</li>
                            <li>@Html.ActionLink("Híbridos", "ConsultaCarroHibrido", "Home")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Sobre nós", "About", "Home")</li>
                    <li>@Html.ActionLink("Loja física", "Contact", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["tipoLogado2"] != null)
                    {
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Gerenciar veiculos <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Cadastrar veículos", "CadVeiculos", "Home")</li>
                                <li>@Html.ActionLink("Listar veículos", "ListarVeiculos", "Home")</li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Gerenciar clientes <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Cadastrar cliente", "CadLogin", "Adm")</li>
                                <li>@Html.ActionLink("Lista de clientes", "ListarClientes", "Home")</li>
                            </ul>
                        </li>
                    }

                    @if (Session["usuariologado"] == null || Session["senhaLogado"] == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Olá, " /*+ @User.Identity.Name,*/, "", "")</li>
                        <li>@Html.ActionLink("Sair  ", "Logout", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
