@model ProjetoQuark.Models.ModelProduto
@{
    ViewBag.Title = "CadVeiculos";

    List<string> TipoVeiculos = new List<string>();
    TipoVeiculos.Add("1");
    TipoVeiculos.Add("2");
    TipoVeiculos.Add("3");
    TipoVeiculos.Add("4");
}

<h2>Cadastro de veiculos</h2>

@using (Html.BeginForm("CadVeiculos", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.LabelFor(m => m.nomeProd)
    <br />
    @Html.EditorFor(m => m.nomeProd)
    <br />
    <br />

    @Html.LabelFor(m => m.imagemProd)
    <br />
    @Html.EditorFor(m => m.imagemProd)
    <br />
    <br />

    @Html.LabelFor(m => m.quantidadeProd)
    <br />
    @Html.EditorFor(m => m.quantidadeProd)
    <br />
    <br />

    @Html.LabelFor(m => m.valorProd)
    <br />
    @Html.EditorFor(m => m.valorProd)
    <br />
    <br />

    @Html.LabelFor(m => m.descricaoProd)
    <br />
    @Html.EditorFor(m => m.descricaoProd)
    <br />
    <br />

    @Html.LabelFor(m => m.codCat)
    <br />
    @Html.DropDownListFor(m => m.codCat, new MultiSelectList(TipoVeiculos))
    <br />
    <br />

    <input type="submit" value="Cadastrar" name="btnCad" />

}

@ViewBag.mssge

<br />
@Html.ActionLink("Listar veiculos", "ListaVeiculos", "Home") | @Html.ActionLink("Voltar", "Index", "Home")





